body{
    section{
        .ascensores__small{
            margin: 50px;
        }
        .col{
            border-left: 3px solid #7b192c;
        }
        .small__titulo{
            font-size: 40px;
        }
        .small__txt{
            font-size: 20px;
        }
    }
}